$primary: #4b3d77;
$secondary: #8379A2;
$primary-light: #f2ecff;
$gray-1: #EDEDED;
$gray-2: #5e5d5d;
$gray-3: #f6f6f6;
$gray-4: #d9d9d9;
$white: #fdfdfd;
$pink: #ffb1bf;
$yellow: #ffffb2;
$yellow-2: #f5a600;
$blue: #b0e0e6;