$color-primary: #4b3d77;
$secondary: #8379A2;
$color-primary-light: #f2ecff;
$color-gray-background: #EDEDED;
$color-gray-dark: #5e5d5d;
$color-gray-medium: #f6f6f6;
$color-border: #d9d9d9;
$color-input: #f2f0f0;
$color-white: #fdfdfd;
$color-yellow: #f5a600;