@import '../../styles/colors';

.header {
  height: 55px;
  min-height: 55px;
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
  align-items: center;
  background: $color-primary;

  &--link {
    height: 28px;
    width: 256px;
    background: lighten($color-primary, 25%);
    border-radius: 2px;
    margin: 0 16px;
  }

  &--icon {
    background: lighten($color-primary, 25%);
    border-radius: 50%;
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin: 0 16px;
  }
}