@import '../../styles/colors';
@import '../../styles/responsive';

.recipe-card {
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 10px 5px 0px 5px;
    background: $color-white;
    border-radius: 2px;
    border: 1px solid $color-border;

    @include respond-to(gt-xs) {
       width: calc(50% - 20px);
       min-width: 400px;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background: $color-gray-medium;
    }

    &__image-placeholder {
        width: 42px;
        height: 42px;
        min-width: 42px;
        min-height: 42px;
        max-width: 42px;
        max-height: 42px;
        font-size: 42px;
        color: $color-gray-dark;
    }

    &__detail-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 12px;
    }

    &__title {
        width: 100%;
        margin: 0 0 8px 2px;
        font-weight: bold;
    }

    &__info-container {
        display: flex;
        margin-left: auto;
    }

    &__item-container {
        display: flex;
        align-items: center;
        margin: 0px 2px;
        color: $color-gray-dark;
        font-size: 16px;
        font-weight: 500;
    }

    &__icon {
        color: $color-black;
        margin: 0 4px;
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        font-size: 18px;

        i:last-of-type {
            margin: 0;
        }
    }
}