@import '../../styles/colors';

.review-stars {
  display: flex;
  align-items: center;

  &__number {
    color: $color-gray-dark;
    margin-left: 4px;
  }

  .star {
    color: $color-yellow;
    cursor: pointer;
  }
  .star-filled {
    fill: $color-yellow;
    max-height: 24px;
    cursor: pointer;
  }
}