
@import './styles/colors';
@import './styles/responsive';

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.no-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}