@import '../../styles/colors';

.recipe-list-view {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 0px 20px 0px;
  background: $color-gray-background;
  overflow-y: auto;
  overflow-x: hidden;
}